# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.fdb_latexmk
*.latexmk
*.log
*.out
*.run.xml
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.lof
*.lot
*.dvi
*.ps
*.xdv
*.nav
*.snm
*.vrb
*.glo
*.gls
*.glg
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.thm
*.ilg
*.ind
*.idx
*.loa
*.lol
*.txd

# Minted
_minted*
*.pyg

# Output PDF (remove if you want to track PDFs)
*.pdf

.DS_Store